body{
	padding-top: 0 !important;
}

.contactPatch{
	width: 100%;
}

.contactPatch div{
	display: inline-block;
}

.contactPatch div:nth-child(odd){
	width: 26% !important;
	text-align: right;
	vertical-align: top;
	padding-right: 5px;
	font-weight: bold;
}
.contactPatch div:nth-child(even){
	width: 72% !important;
	text-align: justify;
}

.flag{
	display: none !important;
}

.pubHead{
	width: 100%;
	padding: 0 15% 0 15%;
}

.pubInHead{
	font-size: 1.3rem;
	background-color: #f8f9fa !important;
}

.pubInBody{
	background-color: #fff !important;
}

.alias {cursor: alias;}
.all-scroll {cursor: all-scroll;}
.auto {cursor: auto;}
.cell {cursor: cell;}
.context-menu {cursor: context-menu;}
.col-resize {cursor: col-resize;}
.copy {cursor: copy;}
.crosshair {cursor: crosshair;}
.default {cursor: default;}
.e-resize {cursor: e-resize;}
.ew-resize {cursor: ew-resize;}
.grab {cursor: -webkit-grab; cursor: grab;}
.grabbing {cursor: -webkit-grabbing; cursor: grabbing;}
.help {cursor: help;}
.move {cursor: move;}
.n-resize {cursor: n-resize;}
.ne-resize {cursor: ne-resize;}
.nesw-resize {cursor: nesw-resize;}
.ns-resize {cursor: ns-resize;}
.nw-resize {cursor: nw-resize;}
.nwse-resize {cursor: nwse-resize;}
.no-drop {cursor: no-drop;}
.none {cursor: none;}
.not-allowed {cursor: not-allowed;}
.pointer {cursor: pointer;}
.progress {cursor: progress;}
.row-resize {cursor: row-resize;}
.s-resize {cursor: s-resize;}
.se-resize {cursor: se-resize;}
.sw-resize {cursor: sw-resize;}
.text {cursor: text;}
.url {cursor: url(myBall.cur),auto;}
.w-resize {cursor: w-resize;}
.wait {cursor: wait;}
.zoom-in {cursor: zoom-in;}
.zoom-out {cursor: zoom-out;}

svg.cite-icon{
	cursor: -webkit-grab; cursor: grab;
}

svg.cite-icon:active{
	cursor: -webkit-grabbing; cursor: grabbing;
}