body{
	padding-top: 0 !important;
}

.contactPatch{
	width: 100%;
}

.contactPatch div{
	display: inline-block;
}

.contactPatch div:nth-child(odd){
	width: 26% !important;
	text-align: right;
	vertical-align: top;
	padding-right: 5px;
	font-weight: bold;
}
.contactPatch div:nth-child(even){
	width: 72% !important;
	text-align: justify;
}

.flag{
	display: none !important;
}